*{
    margin:0;
    padding:0;
    box-sizing:border-box;
} 
.container {
    display: flex;
    flex-direction: column;
    text-align: center;
}
.botoes {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding: 2% 2% 0% 0%;
} 
.botoes button {
    border-radius: 10px;
    padding: 4px;
    font-size: 10px;
    margin-left: 10px;
}
h2 {
    margin: 4% 0%;
}
.inp-lab input {
    border-radius: 10px;
    padding: 5px;
}
.fa{
    cursor: pointer;
}